@import "~lbh-frontend/lbh/base";
@import "~lbh-frontend/lbh/components/lbh-checkboxes/checkboxes";

.govuk-checkboxes__label {
  margin-top: 0;
}

.govuk-checkboxes__conditional {
  composes: govuk-checkboxes__conditional;
}

:global {
  .govuk-checkboxes__conditional--hidden {
    display: none;
  }
}
