@import '~lbh-frontend/lbh/settings/typography';
@import '~lbh-frontend/lbh/settings/colour-palette';
@import '~lbh-frontend/lbh/helpers/colour';
@import '~lbh-frontend/lbh/helpers/typography';
@import '~lbh-frontend/lbh/vendor/sass-mq';

.mtfh-header {
    color: lbh-colour('lbh-text-white');
    @include lbh-font;
    margin: 0;

    &__title {
        font-size: 27px;
        font-weight: 400;
        margin: 0;
    }

    &__name {
        font-weight: bold;
    }

    &__login {
        margin: 0;
        display: inline-block;
        margin-left: 1rem;
        &.lbh-link:link,
        &.lbh-link:visited {
            color: lbh-colour('lbh-text-white');
        }
        &.lbh-link:focus {
            color: lbh-colour('lbh-text');
        }
    }

    &__section {
        margin: 0;
        display: flex;
        align-items: center;
    }

    // overwrites
    .lbh-header__wrapper {
        align-items: center;
        @include mq($until: tablet) {
            display: initial;
        }
    }

    .lbh-header__main {
        padding-left: 44px;
        padding-right: 44px;
        align-items: center;

        @include mq($until: tablet) {
            padding-left: 5px;
            padding-right: 0;
        }
    }
    .lbh-header__title {
        margin-right: 6px;
    }
}
